body {
    font-family: 'Consolas';
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

.section {
    margin-bottom: 20px;
}

.autologin {
    color: #4caf50;
    font-weight: bold;
    font-size: small;
}

.loginresponse {
    color: #ff5722;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: limegreen;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Consolas';
}

.bt-login {
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt-logout {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt-sign-transaction {
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sc-response {
    color: black;
    font-weight: bold;
}

button:hover {
    background-color: black;
}

code {
    display: block;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    button {
        padding: 15px 30px;
        font-size: 20px;
    }
}
